//colors
$white: #fff;
$pink: #c32865;
$lightpink: #f5468b;
$body: #1b1b1b;
$text: #717171;
$darkgrey: #272727;
$grey: #999;
$links: #636363;
$yellow: #ffeb00;

//fonts
$mainfont: "Poppins", sans-serif;
$secondfont: "Montserrat", sans-serif;
