<div id="section3" data-anchor="page3" class="pp-scrollable section section-4">
  <div class="scroll-wrap">
    <div class="section-bg bg-about"></div>
    <div class="scrollable-content">
      <div class="vertical-title text-white  d-none d-xl-block"><span>o mnie</span></div>
      <div class="vertical-centred">
        <div class="boxed boxed-inner">
          <div class="boxed">
            <div class="container">
              <div class="intro">
                <div class="row align-items-center">
                  <div class="col-lg-6 offset-xl-1">
                    <div class="experience-box">
                      <div class="experience-content">
                        <div class="experience-number">2</div>
                        <div class="experience-info">
                          <div>lata<br>doświadczenia</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 mt-5 mt-xl-0 text-white">
                    <h2 class="title"> <span class="text-primary">Kim</span> jestem</h2>
                    Zajmuję się tworzeniem stron internetowych z wykorzystaniem Wordpress. Na co dzień głównie pracuje z
                    technologiami JavaScript i PHP. Świetnie odnajduję się w zespole. <br>Zależy mi na poznawaniu nowych technologii oraz nowoczesnych
                    rozwiązań dlatego obecnie uczę się jak wykorzystać AI.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>