.section-2 {
  background-color: $white !important;
}

.icon-specialization {
  color: $pink;

  @include fontSize(80);
}

.row-specialization {
  margin: 0 -2rem;
}

.col-specialization {
  padding: 0 2rem;
}
