<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Styles -->
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div class="animsition">

    <!-- Sidebar Menu-->

    {% include 'components/sidebar-menu.html' %}

    <!-- Header -->

    {% include 'components/header.html' %}

    <div class="content">
      <div class="container">
        <div class="row row-project">
          <div class="col-project-name col-md-6 mt-5 mb-5 mb-md-0">
            <h1>Projekt grupowy</h1>
            <div class="social-list social-list-detail">
              <a href="https://github.com/Johny1010/WDP-1909-01" target="_blank" rel="nofollow noopener noreferrer"
                class="icon icon-social-github mr-3">
                <img src="images/icons/github-icon.svg" alt="github">
              </a>
            </div>
          </div>
          <div class="col-project-info col-md-6">
            <div class="row">
              <div class="col-md-6 mt-5">
                <h5>Technologie</h5>
                <p>HTML, SCSS, JavaScript</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img alt="project-05" class="image-holder" src="../images/pictures/project-05.png">
      <div class="container">
        <p class="project-detail-text text-center">Projekt grupowy sklepu internetowego - bootcamp Web Developer</p>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="js/app.js"></script>
</body>

</html>