<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div class="animsition">
    <!-- <div class="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div> -->

    <!-- Content CLick Capture-->

    <div class="click-capture"></div>

    <!-- Sidebar Menu-->

    <div class="menu">
      <span class="close-menu icon-cross2 right-boxed"></span>
      <ul class="menu-list right-boxed">
        <li data-menuanchor="page1">
          <a href="#page1">Strona główna</a>
        </li>
        <li data-menuanchor="page2">
          <a href="#page2">Specjalizacje</a>
        </li>
        <li data-menuanchor="page3">
          <a href="#page3">O mnie</a>
        </li>
        <li data-menuanchor="page4">
          <a href="#page4">Technologie</a>
        </li>
        <li data-menuanchor="page5">
          <a href="#page5">Projekty</a>
        </li>
      </ul>
      <div class="menu-footer right-boxed">
        <div class="social-list">
          <a href="" class="icon ion-social-linkedin">
            <img src="images/icons/linkedin-icon.svg" alt="linkedin">
          </a>
          <a href="" class="icon ion-social-github">
            <img src="images/icons/github-icon.svg" alt="github">
          </a>
        </div>
        <div class="copy">© AP 2023. All Rights Reseverd</div>
      </div>
    </div>

    <div class="copy-bottom white boxed">© AP 2023.</div>

    <!-- Navbar -->
    <div id="fullpage" class="pagepiling">
      {% block content %}{% endblock %}
    </div>

  </div>

  <script src="js/app.js"></script>
</body>

</html>